In [1]:
import pandas as pd

In [2]:
csv_file = 'restaurants_info.csv'

try:
    # Read CSV file with error-handling
    csv_df = pd.read_csv(csv_file, delimiter=';')
    print(csv_df.head)
    num_records = len(csv_df)
    print("Number of records:", num_records)
except pd.errors.ParserError as e:
    print(f"My Error: Error parsing CSV file: {e}")

json_file = 'restaurants_list.json'

try:
    # Read JSON file with error-handling
    json_df = pd.read_json(json_file)
    print(json_df.head())
    num_records = len(json_df)
    print("Number of records:", num_records)
except pd.errors.ParserError as e:
    print(f"My Error: Error parsing JSON file: {e}")

<bound method NDFrame.head of       objectID              food_type  stars_count  reviews_count  \
0       116272                  Steak          4.2            204
1       138901                  Sushi          4.3             75
2        96892                Italian          4.3            161
3       108532               American          4.5            159
4        25840                  Sushi          4.5            332
...        ...                    ...          ...            ...
4995     10363  Contemporary American          4.4           1120
4996      2131                Italian          4.4           1273
4997       763            Californian          4.3           2874
4998      2177                  Asian          3.9           1062
4999       963                Seafood          4.3           2451

          neighborhood    phone_number    price_range    dining_style
0          Pepper Pike  (216) 378-8988     $31 to $50     Fine Dining
1               Medina  (330) 661-0606  $30 and under   Casual Dining
2                 Bath  (330) 666-9990  $30 and under   Casual Dining
3             Boardman  (330) 965-5899  $30 and under   Casual Dining
4       Shaker Heights  (216) 767-1111  $30 and under   Casual Dining
...                ...             ...            ...             ...
4995         Los Gatos  (408) 354-4808     $31 to $50  Casual Elegant
4996  Presidio Heights  (415) 921-3200     $31 to $50  Casual Elegant
4997        Yountville  (707) 944-2749     $31 to $50  Casual Elegant
4998          San Jose  (408) 246-6320  $30 and under  Casual Elegant
4999              SOMA  (415) 777-0277     $31 to $50     Fine Dining

[5000 rows x 8 columns]>
Number of records: 5000
   objectID                          name                  address  \
0    101422                          Town          348 Main Street
1    113494                Plates Kitchen         301 Glenwood Ave
2    152470                 Pax Americana      4319 Montrose Blvd.
3    145693  Vinotopia Restaurant and Bar  5724 West 136th Terrace
4     22588              Biagio's Osteria       88 Ryder's Landing

                             area           city country  \
0               Denver / Colorado     Carbondale      US
1  Raleigh / Durham / Chapel Hill        Raleigh      US
2                         Houston        Houston      US
3                     Kansas City  Overland Park      US
4       New York / Tri-State Area      Stratford      US

                                           image_url  \
0  https://www.opentable.com/img/restimages/10142...
1  https://www.opentable.com/img/restimages/11349...
2  https://www.opentable.com/img/restimages/15247...
3  https://www.opentable.com/img/restimages/14569...
4  https://www.opentable.com/img/restimages/22588...

                                  mobile_reserve_url  \
0  http://mobile.opentable.com/opentable/?restId=...
1  http://mobile.opentable.com/opentable/?restId=...
2  http://mobile.opentable.com/opentable/?restId=...
3  http://mobile.opentable.com/opentable/?restId=...
4  http://mobile.opentable.com/opentable/?restId=...

                         payment_options        phone postal_code  price  \
0     [AMEX, Discover, MasterCard, Visa]   9709636328       81623      2
1  [AMEX, Diners Club, MasterCard, Visa]  9198280018x       27603      2
2     [AMEX, Discover, MasterCard, Visa]   7132390228       77006      2
3     [AMEX, Discover, MasterCard, Visa]   9134029300       66223      2
4     [AMEX, Discover, MasterCard, Visa]  2033759071x       06614      2

                                       reserve_url state  \
0  http://www.opentable.com/single.aspx?rid=101422    CO
1  http://www.opentable.com/single.aspx?rid=113494    NC
2  http://www.opentable.com/single.aspx?rid=152470    TX
3  http://www.opentable.com/single.aspx?rid=145693    KS
4   http://www.opentable.com/single.aspx?rid=22588    CT

                                  _geoloc
0  {'lat': 39.400235, 'lng': -107.210373}
1   {'lat': 35.784585, 'lng': -78.647982}
2   {'lat': 29.733565, 'lng': -95.390868}
3   {'lat': 38.882144, 'lng': -94.698596}
4      {'lat': 41.2434, 'lng': -73.10084}
Number of records: 5000

In [7]:
# Merge the DataFrames on the "objectID" column
merged_df = pd.merge(json_df, csv_df, on="objectID", how="inner")

# Display the merged DataFrame
# print(merged_df.head())

columns = merged_df.columns
print("Columns:", columns)

# Add a UK restaurant to test location precision 
new_record = {
    'objectID': 99999,
    'name': 'Pizzucci',
    'address': '5, The Promenade, Gloucester Road',
    'area': 'Bishopston',
    'city': 'Bristol',
    'country': 'United Kingdom',
    'image_url': 'pizzucci.png',
    'mobile_reserve_url': 'http://pizzucci.co.uk/',
    'payment_options': 'Visa, MasterCard',
    'phone': '01173790908',
    'postal_code': 'BS7 8AL',
    'price': 25.00,
    'reserve_url': 'http://pizzucci.co.uk/',
    'state': 'UK',
    '_geoloc': {'lat': 51.471988, 'lng': -2.59229},
    'food_type': 'Italian',
    'stars_count': 4.5,
    'reviews_count': 130,
    'neighborhood': 'Gloucester Road',
    'phone_number': '01173790908',
    'price_range': '$30 and under',
    'dining_style': 'Casual Dining'
}

# Add the new row to the DataFrame
merged_df.loc[len(merged_df.index)] = new_record

# Specify the path for the new CSV file
output_csv_file = 'merged_restaurant_data.csv'

# Write the merged DataFrame to a new CSV file (could import it manually into Algolia by file)
merged_df.to_csv(output_csv_file, index=False)
num_records = len(merged_df)
# print("Number of records:", num_records)

# print(f"Merged data has been written to '{output_csv_file}'.")

Columns: Index(['objectID', 'name', 'address', 'area', 'city', 'country', 'image_url',
       'mobile_reserve_url', 'payment_options', 'phone', 'postal_code',
       'price', 'reserve_url', 'state', '_geoloc', 'food_type', 'stars_count',
       'reviews_count', 'neighborhood', 'phone_number', 'price_range',
       'dining_style'],
      dtype='object')

In [8]:
print(merged_df.last)

<bound method NDFrame.last of       objectID                          name  \
0       101422                          Town
1       113494                Plates Kitchen
2       152470                 Pax Americana
3       145693  Vinotopia Restaurant and Bar
4        22588              Biagio's Osteria
...        ...                           ...
4996    148597             Dylan's Candy Bar
4997     56539      Dexters of Thornton Park
4998    118219                Los Americanos
4999     25840                          SASA
5000     99999                      Pizzucci

                                address                            area  \
0                       348 Main Street               Denver / Colorado
1                      301 Glenwood Ave  Raleigh / Durham / Chapel Hill
2                   4319 Montrose Blvd.                         Houston
3               5724 West 136th Terrace                     Kansas City
4                    88 Ryder's Landing       New York / Tri-State Area
...                                 ...                             ...
4996                    1011 3rd Avenue       New York / Tri-State Area
4997            808 East Washington St.  Orlando / Central Florida East
4998                  305 Church Street       New York / Tri-State Area
4999                13120 Shaker Square      Cleveland / Akron / Canton
5000  5, The Promenade, Gloucester Road                      Bishopston

               city         country  \
0        Carbondale              US
1           Raleigh              US
2           Houston              US
3     Overland Park              US
4         Stratford              US
...             ...             ...
4996       New York              US
4997        Orlando              US
4998       New York              US
4999      Cleveland              US
5000        Bristol  United Kingdom

                                              image_url  \
0     https://www.opentable.com/img/restimages/10142...
1     https://www.opentable.com/img/restimages/11349...
2     https://www.opentable.com/img/restimages/15247...
3     https://www.opentable.com/img/restimages/14569...
4     https://www.opentable.com/img/restimages/22588...
...                                                 ...
4996  https://www.opentable.com/img/restimages/14859...
4997  https://www.opentable.com/img/restimages/56539...
4998  https://www.opentable.com/img/restimages/11821...
4999  https://www.opentable.com/img/restimages/25840...
5000                                       pizzucci.png

                                     mobile_reserve_url  \
0     http://mobile.opentable.com/opentable/?restId=...
1     http://mobile.opentable.com/opentable/?restId=...
2     http://mobile.opentable.com/opentable/?restId=...
3     http://mobile.opentable.com/opentable/?restId=...
4     http://mobile.opentable.com/opentable/?restId=...
...                                                 ...
4996  http://mobile.opentable.com/opentable/?restId=...
4997  http://mobile.opentable.com/opentable/?restId=...
4998  http://mobile.opentable.com/opentable/?restId=...
4999  http://mobile.opentable.com/opentable/?restId=...
5000                             http://pizzucci.co.uk/

                                      payment_options        phone  ...  \
0                  [AMEX, Discover, MasterCard, Visa]   9709636328  ...
1               [AMEX, Diners Club, MasterCard, Visa]  9198280018x  ...
2                  [AMEX, Discover, MasterCard, Visa]   7132390228  ...
3                  [AMEX, Discover, MasterCard, Visa]   9134029300  ...
4                  [AMEX, Discover, MasterCard, Visa]  2033759071x  ...
...                                               ...          ...  ...
4996               [AMEX, Discover, MasterCard, Visa]  6466198656x  ...
4997  [AMEX, Diners Club, Discover, MasterCard, Visa]   4076482777  ...
4998               [AMEX, Discover, MasterCard, Visa]  2126800101x  ...
4999  [AMEX, Diners Club, Discover, MasterCard, Visa]   2167671111  ...
5000                                 Visa, MasterCard  01173790908  ...

                                          reserve_url  state  \
0     http://www.opentable.com/single.aspx?rid=101422     CO
1     http://www.opentable.com/single.aspx?rid=113494     NC
2     http://www.opentable.com/single.aspx?rid=152470     TX
3     http://www.opentable.com/single.aspx?rid=145693     KS
4      http://www.opentable.com/single.aspx?rid=22588     CT
...                                               ...    ...
4996  http://www.opentable.com/single.aspx?rid=148597     NY
4997   http://www.opentable.com/single.aspx?rid=56539     FL
4998  http://www.opentable.com/single.aspx?rid=118219     NY
4999   http://www.opentable.com/single.aspx?rid=25840     OH
5000                           http://pizzucci.co.uk/     UK

                                     _geoloc              food_type  \
0     {'lat': 39.400235, 'lng': -107.210373}  Contemporary American
1      {'lat': 35.784585, 'lng': -78.647982}          International
2      {'lat': 29.733565, 'lng': -95.390868}               American
3      {'lat': 38.882144, 'lng': -94.698596}  Contemporary American
4         {'lat': 41.2434, 'lng': -73.10084}                Italian
...                                      ...                    ...
4996    {'lat': 40.762213, 'lng': -73.96577}               American
4997   {'lat': 28.543381, 'lng': -81.367058}  Global, International
4998   {'lat': 40.719604, 'lng': -74.004092}               American
4999   {'lat': 41.483445, 'lng': -81.591102}                  Sushi
5000     {'lat': 51.471988, 'lng': -2.59229}                Italian

     stars_count reviews_count        neighborhood      phone_number  \
0            4.6           180          Carbondale    (970) 963-6328
1            4.3           304             Raleigh    (919) 828-0018
2            4.5           224  Midtown / Montrose    (713) 239-0228
3            3.4            72       Overland Park    (913) 402-9300
4            4.4           596           Stratford    (203) 375-9071
...          ...           ...                 ...               ...
4996         3.8           123     Upper East Side  (212) 620-2700 e
4997         4.4           144    Downtown Orlando    (407) 648-2777
4998         4.1            24  TriBeCa - Downtown    (212) 680-0101
4999         4.5           332      Shaker Heights    (216) 767-1111
5000         4.5           130     Gloucester Road       01173790908

        price_range    dining_style
0     $30 and under   Casual Dining
1     $30 and under  Casual Elegant
2     $30 and under  Casual Elegant
3      $50 and over   Casual Dining
4     $30 and under  Casual Elegant
...             ...             ...
4996  $30 and under   Casual Dining
4997  $30 and under   Casual Dining
4998  $30 and under   Casual Dining
4999  $30 and under   Casual Dining
5000  $30 and under   Casual Dining

[5001 rows x 22 columns]>

In [9]:
# Let's ping over the DF through the Algolia API 💪

from algoliasearch.search_client import SearchClient

# Initialize the Algolia client
client = SearchClient.create('GK7Q3EEC39', '22ba65d4d17fc040d760e0ffa2a58ef4')
index = client.init_index('FeastFinder')

# Convert DataFrame to JSON
records = merged_df.to_dict(orient='records')

# Delete all records from the index
response = index.clear_objects()

# Handle the response
if 'error' in response:
    print(f"Error clearing index: {response['message']}")
else:
    print("Index cleared successfully.")

# Import data to Algolia
response = index.save_objects(records)

# Handle the response
if 'error' in response:
    print(f"Error importing data: {response['message']}")
else:
    print("Data imported successfully.")

Index cleared successfully.
Data imported successfully.